@page "/admin/jobproviders"
@using HireMeNow_BlazorApp.Interfaces
@using HireMeNow_BlazorApp.Models;
@inject IUserService _userServices
@layout AdminLayout
<style>
    .providerList {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        color: black;
    }

    .card {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

        .card:hover {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            box-shadow: 1px 1px 13px 0px #00000047;
        }
</style>
<div class="container-fluid">
    <h3>Companies</h3>
    <div class="col-md-6 m-4">
        <div class="input-group rounded-pill  bg-light">
            <button type="button" class="btn " @onclick="SearchData">
                <i class="bi bi-search"></i>
            </button>
            <div class="form-outline bg-light col-md-10">
                <input type="search" @bind=Search id="form1" class="form-control bg-light border-0" placeholder="Search by Title, Company or any jobs keyword..." />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-3 providerList">
            <JobProviderListComponent users="users" ReloadData="GetAllProviders"></JobProviderListComponent>
        </div>
    </div>

</div>

@code {
    [Parameter]
    public List<User> users { get; set; }
    [Parameter]
    public string Search { get; set; }

    protected override void OnInitialized()
    {
        GetAllProviders();
        //users = _userServices.getAllUsers();
    }
    public void GetAllProviders()
    {
        users = _userServices.jobProviderListing();
    }
    public void SearchData()
    {
        if (String.IsNullOrWhiteSpace(Search))
            users = _userServices.jobProviderListing();
        else
            users = _userServices.GetByFilter(Search, Enums.Roles.JobProvider);
    }

}
