@page "/memberListing"
@using HireMeNow_BlazorApp.Interfaces;
@using HireMeNow_BlazorApp.Models;
@layout JobProviderLayoutComponent
@inject ICompanyService _companyService


<div class="container-fluid">
    <div class="row">

        <div class="col-md">
            <div class="row">
                <div class="col-md">
                    <div class="container">
                        <h3>Company Members</h3>
                        <MemberSearchComponent></MemberSearchComponent>
                        <div class="row pt-2">
                            <div class="col-md-6 text-right ">
                                <a class="text-dark " href="memberRegister"><h4>Add Member</h4></a>
                            </div>
                            <div class="col-md-6 text-left">
                                <a class="text-dark" href="removeMember"><h4>Remove Member</h4></a>
                            </div>
                        </div>
                       <LisstMember></LisstMember>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</div>

@code {
   
}
