@page "/Jobprovider/applications"
@using HireMeNow_BlazorApp.Interfaces
@using HireMeNow_BlazorApp.Models
@layout JobProviderLayoutComponent
@inject IJobService Jobservices
@inject IApplicationService applicationService
@inject IUserService userService
@inject NavigationManager NavigationManager
<link href="publicassets/css/home.css" rel="stylesheet" />
<style>
    .jobData {
        /*width: 80%;*/
    }

    .btn-apply {
        width: -webkit-fill-available;
        height: 40px;
    }

    .job-card {
        /*width: 60%;*/
        margin: auto;
        margin-bottom: 13px;
        padding: 10px;
        box-shadow: 3px 4px 17px 0px #504d4d7d;
    }

    /* .job-card :hover {

                box-shadow: 3px 4px 17px 0px #504d4d7d;
            }*/
    .applySection {
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
    }

    .logoDiv {
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .jobListDiv {
        justify-content: center;
        min-height: 650px;
    }

    progress {
        width: 100%;
        height: 8px;
        background-color: #ddd;
        border: none;
        border-radius: 5px;
        margin-top: 5px;
    }

        progress::-webkit-progress-bar {
            background-color: #ddd;
            border-radius: 5px;
        }

        progress::-webkit-progress-value {
            background-color: #4CAF50;
            border-radius: 5px;
        }

    .JobWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .tags {
        flex-wrap: wrap
    }

    .progressSpan {
        font-size: small;
    }

    .right {
        box-shadow: -4px -2px 4px 1px #0000001c;
        background-image: url('../../JobProvider/images/applicationslist-left-image.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .nav {
        justify-content: space-evenly;
    }
    .viewBtn{
        border-radius: 9px;
        padding: 3px;
        width: 60px;
    }
</style>
<div>

  @*  <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <b>
                    <a href="/Job/PostJob" style=" color: black;">Post Job  </a>
                </b>
            </li>
            <li class="nav-item">
                <b>
                    <a href="/Jobprovider/JobList" style="
    color: black;
"> List Job </a>
                </b>
            </li>
            <li class="nav-item"><b> Update Jobs </b></li>
        </ul>
    </div>
*@
    <h2 align="center" color="#3487bf">Applications</h2>
    <div class="row jobListDiv">

        <div class="left col-md-8 scroll">
            @foreach (var item in applications)
            {
                <div class="job-card" style="">
                    <div width="" class="JobWrapper">
                        <div align="center" class="col-md-2 logoDiv">
                            @if (item.User.Image!=null)
                            {
                                <img src="publicassets/images/gray-user.png" width="75px" alt="@item.User.FirstName" title="@item.User.FirstName" height="75px">

                            }else{
                                <img src="publicassets/images/gray-user.png" width="75px" alt="@item.User.FirstName" title="Aitrich" height="75px">
                            }
                        </div>
                        <div class="col-md-8 jobData">
                            <b>
                                <font size="5px" color="#3487bf" class="mb-0">@item?.User?.FirstName </font>
                            </b>
                            <b>@item?.User?.Designation</b>

                            <div>
                                <i>@item?.User?.Location</i> <br>
                                <i>@item?.User?.Email</i> <br>
                                <b>Applied Job : @item?.Job?.Title</b> <br>
                            </div>
                           
                            <b>Qualification : </b>&nbsp;
                            @if (item?.User?.Qualifications.Count>0)
                            {
                                  <b>@item?.User?.Qualifications</b>

                            }<br>
                            <b>Experience  :  </b>&nbsp;
                            @if (item?.User?.Experiences.Count>0)
                            {
                                 <b>@item.User.Experiences</b>
                            }
                            <br>
                            <input type="hidden" name="parameter" value=@item.Id>
                            <button class="btn-outline-primary viewBtn mt-1" @onclick="() => shedule(item)"> Shedule </button>
                            
                        </div>

                    </div>
                </div>
            }
            @if (applications.Count<=0)
            {
                <h2>No Applications found...</h2>
            }

            @*  <div class="center">

            <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
            </div>
            </div>*@

        </div>

        <div class="right col-md-4">
            @*    <img src="jobprovider/images/professional1.png" />*@
        </div>



    </div>
</div>
@code {
    public List<Application> applications { get; set; } = new List<Application>();

    protected override void OnInitialized()
    {
        var loggedUser = userService.getLoggedUser();
        if (loggedUser!=null)
        {
            applications = applicationService.GetAllByCompany(loggedUser.CompanyId.Value);

        }
        else
        {

        }

    }
    public void shedule(Application item)
    {
        Guid appid = item.Id;
        NavigationManager.NavigateTo($"interviewShedule/{appid}");
    }
}
